/* General */

body {
  font-family: sans-serif;
}

/* Main */
.container-main {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin: 2rem auto;
}
