/* General */

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f2f2f2;
}

/* Header */

/* Footer* /

/* Recipe Page Main */

#wellington-pic {
}

/* Header */

.headerlayout {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.searchsize {
  max-width: 40vw;
}

.logosize {
  min-width: 100px;
  min-height: 100px;
}

#magenta {
  color: purple;
  font-family: "Pacifico", cursive;
}

.inline {
  display: inline;
}

/* Footer* /

/* Recipe Page Main */

/* Main */
.container-main {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin: 2rem auto;
}
