/* General */

body {
  font-family: sans-serif;
}


/* Header */

/* Footer* /

/* Recipe Page Main */

sidebar-recipe-page {
  width: 20%;
  display: flex;
  flex-flow: column wrap;
  float: left;
}

